# Part 3 - Data Prep

https://www.udemy.com/course/feature-engineering-for-machine-learning

* Types and characteristics of data
* Missing data imputation
* Categorical encoding
* Variable transformation
* Discretization
* Outliers
* Datetime
* Scaling
* Feature creation

## Load Data

In [ ]:
import pandas as pd

df = pd.read_csv('created_raw_data.csv')
print(df.shape)
print(df.info())
df.head()

(1010, 41)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1010 entries, 0 to 1009
Data columns (total 41 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   binary                 709 non-null    object
 1   given_name             503 non-null    object
 2   surname                808 non-null    object
 3   date_of_birth          960 non-null    object
 4   phone_number           960 non-null    object
 5   email                  910 non-null    object
 6   address                834 non-null    object
 7   city                   705 non-null    object
 8   state                  881 non-null    object
 9   zipcode                700 non-null    float64
 10  duplicate_2            1010 non-null   float64
 11  random label num 3     505 non-null    object
 12  multicollinearity 1    1010 non-null   float64
 13  constant_1             1010 non-null   object
 14  correlated w target 2  505 non-null    float64
 15  semi_constant_1        1010 non-null   object
 16  constant_2             1010 non-null   object
 17  corr_feature_class     505 non-null    float64
 18  uniform corr 2         1010 non-null   float64
 19  duplicate_1            1010 non-null   float64
 20  pd qcut1               960 non-null    object
 21  correlated w target 1  505 non-null    float64
 22  outliers 1             956 non-null    float64
 23  random choice 4        808 non-null    object
 24  informative_2          1010 non-null   float64
 25  random choice 2        1010 non-null   object
 26  outliers 2             507 non-null    float64
 27  target                 1010 non-null   float64
 28  min max scaling        708 non-null    float64
 29  semi_constant_2        1010 non-null   object
 30  pd qcut3               909 non-null    object
 31  random choice 7        1010 non-null   object
 32  random label num 11    808 non-null    object
 33  informative_1          1010 non-null   float64
 34  uniform corr 1         959 non-null    float64
 35  pd qcut2               507 non-null    object
 36  multicollinearity 3    810 non-null    float64
 37  standard scaling       506 non-null    float64
 38  multicollinearity 4    960 non-null    float64
 39  multicollinearity 2    909 non-null    float64
 40  class                  1010 non-null   int64
dtypes: float64(19), int64(1), object(21)
memory usage: 323.6+ KB
None

,binary,given_name,surname,date_of_birth,phone_number,email,address,city,state,zipcode,...,random choice 7,random label num 11,informative_1,uniform corr 1,pd qcut2,multicollinearity 3,standard scaling,multicollinearity 4,multicollinearity 2,class
0,binary_2,Troy,Allen,1996-08-01,974-794-0969x179,idillon@example.net,NaN,NaN,NaN,NaN,...,Sunday,label num hi 10,-0.999102,0.353397,NaN,-0.308760,NaN,-0.276196,-0.369239,1
1,NaN,NaN,Fischer,2017-09-18,+1-758-724-2680,johnsmith@example.org,NaN,NaN,NaN,NaN,...,Thursday,label num hi 2,1.246686,0.800222,Q3,-0.276773,NaN,0.154751,-1.074681,1
2,binary_1,Shelley,Russell,1914-12-29,+1-226-526-4206x24792,gentrylaura@example.net,3920 Simmons Village Apt. 675,Johnfurt,CA,94315.0,...,Wednesday,label num hi 7,0.962777,0.760738,NaN,-0.542515,61925.695824,-0.271426,0.350587,1
3,binary_2,NaN,Conrad,1955-08-15,835.630.0141x7025,reeddeborah@example.org,320 Oneal Common,Williamchester,NJ,64638.0,...,Thursday,label num hi 1,-2.957441,0.597439,Q4,0.110135,51333.370521,0.433609,NaN,1
4,binary_2,NaN,NaN,2001-10-24,458.266.1388,travis85@example.net,511 Charles View Apt. 670,NaN,ND,64272.0,...,Tuesday,label num hi 10,1.141165,0.837511,Q3,-1.050837,53993.540300,-1.585647,0.406502,1

In [ ]:
import preppy.utils as utils
from preppy.version import __version__

print(__version__)

utils.report.write_report(df, thresh=.5)

PrepPy Version: 0.1.0
REPORT FOR DATA PREP

#################################################
Columns with Constant Values
#################################################
['constant_1', 'constant_2']

#################################################
Columns with Quasi-Constant Values
#################################################
['class', 'constant_1', 'constant_2', 'random choice 2']

#################################################
Duplicate Rows
#################################################
20

#################################################
Duplicate Columns
#################################################
['informative_2', 'constant_2', 'informative_1']

#################################################
Variables with Noticeably Higher Scales
#################################################
Features with Noticeably Higher Scales (Based on Standard Deviation):
zipcode             28647.576417
standard scaling     9847.664968
Name: std, dtype: float64

Features with Noticeably Higher Scales (Based on Range):
zipcode             99380.000000
standard scaling    58762.370941
dtype: float64
None

#################################################
Variables with Missing Values
#################################################
binary                   301
given_name               507
surname                  202
date_of_birth             50
phone_number              50
email                    100
address                  176
city                     305
state                    129
zipcode                  310
random label num 3       505
correlated w target 2    505
corr_feature_class       505
pd qcut1                  50
correlated w target 1    505
outliers 1                54
random choice 4          202
outliers 2               503
min max scaling          302
pd qcut3                 101
random label num 11      202
uniform corr 1            51
pd qcut2                 503
multicollinearity 3      200
standard scaling         504
multicollinearity 4       50
multicollinearity 2      101
dtype: int64

#################################################
Variables that Need Categorical Encoding
#################################################
Index(['binary', 'given_name', 'surname', 'date_of_birth', 'phone_number',
       'email', 'address', 'city', 'state', 'random label num 3', 'constant_1',
       'semi_constant_1', 'constant_2', 'pd qcut1', 'random choice 4',
       'random choice 2', 'semi_constant_2', 'pd qcut3', 'random choice 7',
       'random label num 11', 'pd qcut2'],
      dtype='object')

#################################################
Variables with Outliers
#################################################
Column: duplicate_2
Outliers: [-4.543441462057407, -4.444491000732856, -4.154350476173738]
---
Column: multicollinearity 1
Outliers: [3.0964700335246675, 2.8860254040094877, 2.888524781316519, -2.9133617876493223, 3.2667431312529, -3.332910764518459, -2.814282320198441, -3.112236183253235, 3.423834411993159]
---
Column: correlated w target 2
Outliers: [8.640365982515434, 8.548767262097718]
---
Column: corr_feature_class
Outliers: [-6.60506610611737, -5.826490226026087, -8.441445732834826, 10.205741732532656, -5.525364239468703, 12.983267018391487, 9.725951500410932, 11.832067218939487, 14.826802554831286, 9.950887787237829, 10.000356948370786, -10.132050589131458, -6.500533226221538, 14.512022593582328, 9.644848156328791, 11.814986979442576, 11.671981099696485, -6.60506610611737]
---
Column: duplicate_1
Outliers: [3.994644010615292]
---
Column: correlated w target 1
Outliers: [10.796624319957406, -8.978326024999612, 10.648299997832233]
---
Column: outliers 1
Outliers: [4.066693171034944, -3.0782565281079624, -4.410573737518607, -3.626195417283881, -3.343438979662151, 3.757367657087428, 3.4000956763771377, -3.95899797267416, -4.782825460947353, -3.3475165421842936, 3.891209488699425, 3.6304568951163247, 5.330153607330061, -3.9260056062723945, 4.461933194054654, -3.835637334130876, 4.010329781976383, -3.1456230164077192, 3.66440920514047, 3.160794317128161, 4.488030125372096, -3.626799835448912, -3.0146677005995697, -3.263032375436699, -5.613241657967826, 3.342353235780961, -3.0496594193942554, 4.054094388215779, -3.904713759177205, 3.1262648308790526, 4.0229417689249525, -3.8950569064954688, -4.01570788503792, 4.424142917294751, 3.1238070090413728, 4.164827470986148, 3.73700537527415, 3.8329623887941153, 3.189464141869656, 3.9242743953400487, 3.930816032331357, -3.895299859053691, -3.867746123054659, -3.6763568049054345, 4.089046215256845, -3.5521928406255414, 3.643564146087068, 3.2538573039627394, 4.066693171034944]
---
Column: informative_2
Outliers: [-4.543441462057407, -4.444491000732856, -4.154350476173738]
---
Column: outliers 2
Outliers: [-4.130207521989594, -4.463832339069263]
---
Column: target
Outliers: [9.29929607315589]
---
Column: min max scaling
Outliers: [68.0367029085511, 620.6483071783365, 18.421198920107766, 628.7444079690036, 68.18256176023125]
---
Column: informative_1
Outliers: [3.994644010615292]
---
Column: multicollinearity 3
Outliers: [2.80318295056046, 2.851659830939932, 3.3948186332463526, -2.8227355518507684, -2.770986967236815, 4.0382751191720745]
---
Column: standard scaling
Outliers: [74727.38456321757, 74195.9591532939, 18863.393923734337, 22297.72743323265, 77625.76486445023, 76211.15926936206, 74982.74907957224]
---
Column: multicollinearity 4
Outliers: [-2.94877509317178, -3.108714855915701, 3.687599586359358]
---
Column: multicollinearity 2
Outliers: [2.777011537286212, 2.6950962542609034, 2.966781153950189, -2.7460548058310854, -2.64963916745848, 2.762492486713856, 3.4806771786748687, -2.668985013593106]
---

#################################################
END OF REPORT
#################################################

In [ ]:
import preppy.utils as preppy

consts = preppy.functions.identify_consts(df)
quasi_consts = preppy.functions.identify_quasi_consts(df)
duplicates = preppy.functions.check_col_duplicates(df)
print(duplicates)
print(consts)
print(quasi_consts)

['informative_2', 'constant_2', 'informative_1']
['constant_1', 'constant_2']
['constant_1', 'constant_2']

In [ ]:
# numeric_df = df.apply(pd.to_numeric, errors='coerce')
all_deletes = list(set(consts + quasi_consts + duplicates))
for col in all_deletes:
  print(col, df[col].dtype)
  if df[col].dtype in ['float64', 'int64']:
    df_numerical.remove(col)
  elif df[col].dtype in ['object']:
    df_object.remove(col)
    df_categorical_features.remove(col)
  else:
    df_discreet.remove(col)

constant_2 object
constant_1 object
informative_1 float64
informative_2 float64

## PrepPy Pipeline

In [ ]:
import numpy as np
import pandas as pd
from sklearn.pipeline import Pipeline
import preppy.utils as preppy

pipe = [
    ('constants', preppy.classes.RemoveConstants()),
    ('quasiconsts', preppy.classes.RemoveQuasiConstants(thresh=0.8)),
    ('duplicates', preppy.classes.DropDuplicates()),
    ('missing', preppy.classes.HandleMissingValues()),
    # ('encoding', HandleCatEncodeing())
]

pipe_model = Pipeline(pipe)
data = pipe_model.fit_transform(df)
cols = [col for col in df.columns if col not in consts + quasi_consts + duplicates]
nu_df = pd.DataFrame(data, columns=cols)
nu_df.info()

/content/preppy/utils/functions.py:61: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  dfx[feat] = df[feat].fillna(df[feat].mode()[0])

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 37 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   binary                 1000 non-null   object
 1   given_name             1000 non-null   object
 2   surname                1000 non-null   object
 3   date_of_birth          1000 non-null   object
 4   phone_number           1000 non-null   object
 5   email                  1000 non-null   object
 6   address                1000 non-null   object
 7   city                   1000 non-null   object
 8   state                  1000 non-null   object
 9   zipcode                1000 non-null   object
 10  duplicate_2            1000 non-null   object
 11  random label num 3     1000 non-null   object
 12  multicollinearity 1    1000 non-null   object
 13  correlated w target 2  1000 non-null   object
 14  semi_constant_1        1000 non-null   object
 15  corr_feature_class     1000 non-null   object
 16  uniform corr 2         1000 non-null   object
 17  duplicate_1            1000 non-null   object
 18  pd qcut1               1000 non-null   object
 19  correlated w target 1  1000 non-null   object
 20  outliers 1             1000 non-null   object
 21  random choice 4        1000 non-null   object
 22  random choice 2        1000 non-null   object
 23  outliers 2             1000 non-null   object
 24  target                 1000 non-null   object
 25  min max scaling        1000 non-null   object
 26  semi_constant_2        1000 non-null   object
 27  pd qcut3               1000 non-null   object
 28  random choice 7        1000 non-null   object
 29  random label num 11    1000 non-null   object
 30  uniform corr 1         1000 non-null   object
 31  pd qcut2               1000 non-null   object
 32  multicollinearity 3    1000 non-null   object
 33  standard scaling       1000 non-null   object
 34  multicollinearity 4    1000 non-null   object
 35  multicollinearity 2    1000 non-null   object
 36  class                  1000 non-null   object
dtypes: object(37)
memory usage: 289.2+ KB

In [ ]:
import pickle

# Load the pickled variable from the file
with open('var_types.pkl', 'rb') as f:
    var_types = pickle.load(f)

print(var_types)

{'df_numerical': ['zipcode', 'duplicate_2', 'multicollinearity 1', 'correlated w target 2', 'corr_feature_class', 'uniform corr 2', 'duplicate_1', 'correlated w target 1', 'outliers 1', 'informative_2', 'outliers 2', 'target', 'min max scaling', 'informative_1', 'uniform corr 1', 'multicollinearity 3', 'standard scaling', 'multicollinearity 4', 'multicollinearity 2', 'class'], 'df_object': ['binary', 'given_name', 'surname', 'date_of_birth', 'phone_number', 'email', 'address', 'city', 'state', 'random label num 3', 'constant_1', 'semi_constant_1', 'constant_2', 'pd qcut1', 'random choice 4', 'random choice 2', 'semi_constant_2', 'pd qcut3', 'random choice 7', 'random label num 11', 'pd qcut2'], 'df_discreet': [], 'df_categorical_features': ['binary', 'given_name', 'surname', 'date_of_birth', 'phone_number', 'email', 'address', 'city', 'state', 'random label num 3', 'constant_1', 'semi_constant_1', 'constant_2', 'pd qcut1', 'random choice 4', 'random choice 2', 'semi_constant_2', 'pd qcut3', 'random choice 7', 'random label num 11', 'pd qcut2']}

In [ ]:
df_numerical = var_types['df_numerical']
df_object = var_types['df_object']
df_discreet = var_types['df_discreet']
df_categorical_features = var_types['df_categorical_features']

In [ ]:
# code along
df_numerical = [col for col in nu_df.columns if col in var_types['df_numerical']]
nu_df[df_numerical] = nu_df[df_numerical].astype(float)
nu_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 37 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   binary                 1000 non-null   object
 1   given_name             1000 non-null   object
 2   surname                1000 non-null   object
 3   date_of_birth          1000 non-null   object
 4   phone_number           1000 non-null   object
 5   email                  1000 non-null   object
 6   address                1000 non-null   object
 7   city                   1000 non-null   object
 8   state                  1000 non-null   object
 9   zipcode                1000 non-null   float64
 10  duplicate_2            1000 non-null   float64
 11  random label num 3     1000 non-null   object
 12  multicollinearity 1    1000 non-null   float64
 13  correlated w target 2  1000 non-null   float64
 14  semi_constant_1        1000 non-null   object
 15  corr_feature_class     1000 non-null   float64
 16  uniform corr 2         1000 non-null   float64
 17  duplicate_1            1000 non-null   float64
 18  pd qcut1               1000 non-null   object
 19  correlated w target 1  1000 non-null   float64
 20  outliers 1             1000 non-null   float64
 21  random choice 4        1000 non-null   object
 22  random choice 2        1000 non-null   object
 23  outliers 2             1000 non-null   float64
 24  target                 1000 non-null   float64
 25  min max scaling        1000 non-null   float64
 26  semi_constant_2        1000 non-null   object
 27  pd qcut3               1000 non-null   object
 28  random choice 7        1000 non-null   object
 29  random label num 11    1000 non-null   object
 30  uniform corr 1         1000 non-null   float64
 31  pd qcut2               1000 non-null   object
 32  multicollinearity 3    1000 non-null   float64
 33  standard scaling       1000 non-null   float64
 34  multicollinearity 4    1000 non-null   float64
 35  multicollinearity 2    1000 non-null   float64
 36  class                  1000 non-null   float64
dtypes: float64(18), object(19)
memory usage: 289.2+ KB

## Feature Engineering

### Feature Combination

In [ ]:
# create a new variable by combining two variables
df['scaling_combined'] = df['standard scaling'] + df['min max scaling']
df.drop(['standard scaling', 'min max scaling'], axis=1, inplace=True)

### Categorical Encoding

In [ ]:
# code along
import preppy.utils as utils

# Impute missing values before applying do_OHE
for col in df.select_dtypes(include=['object']).columns:
    df[col] = df[col].fillna(df[col].mode()[0])

df = utils.functions.do_OHE(df)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1010 entries, 0 to 1009
Data columns (total 45 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   binary                             709 non-null    float64
 1   given_name                         1010 non-null   float64
 2   surname                            1010 non-null   float64
 3   date_of_birth                      1010 non-null   float64
 4   phone_number                       1010 non-null   float64
 5   email                              1010 non-null   float64
 6   address                            1010 non-null   float64
 7   city                               1010 non-null   float64
 8   state                              1010 non-null   float64
 9   zipcode                            700 non-null    float64
 10  duplicate_2                        1010 non-null   float64
 11  multicollinearity 1                1010 non-null   float64
 12  correlated w target 2              505 non-null    float64
 13  corr_feature_class                 505 non-null    float64
 14  uniform corr 2                     1010 non-null   float64
 15  duplicate_1                        1010 non-null   float64
 16  pd qcut1                           1010 non-null   int64
 17  correlated w target 1              505 non-null    float64
 18  outliers 1                         956 non-null    float64
 19  informative_2                      1010 non-null   float64
 20  random choice 2                    1010 non-null   int64
 21  outliers 2                         507 non-null    float64
 22  target                             1010 non-null   float64
 23  pd qcut3                           1010 non-null   float64
 24  random choice 7                    1010 non-null   float64
 25  random label num 11                1010 non-null   float64
 26  informative_1                      1010 non-null   float64
 27  uniform corr 1                     959 non-null    float64
 28  multicollinearity 3                810 non-null    float64
 29  multicollinearity 4                960 non-null    float64
 30  multicollinearity 2                909 non-null    float64
 31  class                              1010 non-null   int64
 32  scaling_combined                   339 non-null    float64
 33  random label num 3_label num lo 2  1010 non-null   float64
 34  random label num 3_label num lo 3  1010 non-null   float64
 35  semi_constant_1_q_const_0_1        1010 non-null   float64
 36  semi_constant_1_q_const_0_2        1010 non-null   float64
 37  random choice 4_North              1010 non-null   float64
 38  random choice 4_South              1010 non-null   float64
 39  random choice 4_West               1010 non-null   float64
 40  semi_constant_2_q_const_0_1        1010 non-null   float64
 41  semi_constant_2_q_const_0_2        1010 non-null   float64
 42  pd qcut2_Q2                        1010 non-null   float64
 43  pd qcut2_Q3                        1010 non-null   float64
 44  pd qcut2_Q4                        1010 non-null   float64
dtypes: float64(42), int64(3)
memory usage: 355.2 KB

In [ ]:
df.to_csv('prepared_data.csv', index=False)